.mentees-toggle {
  width: 100%;
}

.craftsperson-card {
  background-color: #f8f9fb;
}

.btn-link {
  color: #000000;
}

.accordion-container {
  margin-bottom: 6px;
}

.mentees-container {
  padding: none;
}
