.admin-button {
  justify-content: flex-end;
  margin: 10px 0;
}

.add-button-container {
  display: flex;
}

.add-button {
  justify-content: flex-end;
}

.admin-label {
  font-size: 100%;
  color: rgb(129, 129, 129);
}
