.craftsperson-name-container {
    height: 100%;
    padding: 15px;
}

.craftsperson-name {
    color: rgb(54, 54, 54);
}

.mentees-count-container {
    padding-top: 15px;
}

.mentees-count-label {
    margin-left: none;
    font-size: 100%;
    color: rgb(117, 116, 116);
  }