.App {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.main-logo {
  height: 8vmin;
  float: left;
  pointer-events: none;
  margin: 20px 0;
}

.main-logo-login {
  height: 5vmin;
  margin: 5vmin auto;
}

.google-login {
  margin: 20px auto;
}

.love {
  font-size: 80%;
  color: #bbbbbb;
  text-align: center;
  margin: 0 auto;
}

.logout-button {
  float: right;
  margin-top: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.remove-button {
  border: none;
  border-radius: 100px;
  height: 40px;
  width: 40px;
}

.craftsperson-row {
  background: #f7f7f7;
  border: none;
}

.craftsperson-row-container {
  transition: background-color 0.5s ease-in-out;
}

.card-header {
  padding: 0rem;
}